{% extends "plantilla.html" %}
{% load static %}
{% block body %}
<div class="container mt-4">
    <div class="row">
        <!-- Contenido principal -->
        <div class="col-md-10">
            <h1 class="text-center">Gestión de Bloques</h1>
            <div class="row mb-3">
                <div class="col-md-12 text-end">
                    <button class="btn btn-success" onclick="cargarBloques();"><i class="fas fa-refresh"></i> Actualizar</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fas fa-pencil fa-lg"></i> <b>Guardar Bloque</b>
                    </button>
                </div>
            </div>
            <div class="col-md-12" id="contenedor-bloques"></div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Bloque</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="#" id="frm_nuevo_bloque">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="codigo"><b>Código:</b></label>
                                    <input type="text" id="codigo" name="codigo" class="form-control" placeholder="Ingresar código del bloque" required>
                                </div>
                                <div class="mb-3">
                                    <label for="nombre"><b>Nombre:</b></label>
                                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingresar nombre del bloque" required>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion"><b>Descripción:</b></label>
                                    <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Ingresar descripción del bloque" required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="numero_camas"><b>Número de Camas:</b></label>
                                    <input type="text" id="numero_camas" name="numero_camas" class="form-control" placeholder="Ingresar número de camas" required>
                                </div>
                                <div class="mb-3">
                                    <label for="area"><b>Área:</b></label>
                                    <select id="area" name="area" class="form-control" required>
                                        {% for area in areas %}
                                        <option value="{{ area.id }}">{{ area.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="estado"><b>Estado:</b></label>
                                    <select id="estado" name="estado" class="form-control" required>
                                        <option value="A">Activo</option>
                                        <option value="M">En Mantenimiento</option>
                                        <option value="I">Inactivo</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#frm_nuevo_bloque").validate({
        rules: {
            codigo: {
                required: true
            },
            nombre: {
                required: true
            },
            descripcion: {
                required: true
            },
            numero_camas: {
                required: true
            },
            area: {
                required: true
            },
            estado: {
                required: true
            }
        },
        messages: {
            codigo: {
                required: "Ingrese código para identificar el bloque",
            },
            nombre: {
                required: "Ingrese nombre del bloque"
            },
            descripcion: {
                required: "Ingrese descripción"
            },
            numero_camas: {
                required: "Ingrese número de camas"
            },
            area: {
                required: "Seleccione un área"
            },
            estado: {
                required: "Seleccione el estado"
            }
        },
        submitHandler: function(formulario) {
            const formData = new FormData(formulario);
            
            $.ajax({
                url: "{% url 'guardarBloque' %}",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response.estado) {
                        Swal.fire({
                            title: "Confirmación",
                            text: response.mensaje,
                            icon: 'success'
                        }).then(() => {
                            location.reload();
                        });
                        
                        $('#exampleModal').modal('hide');
                        formulario.reset();
                        cargarBloques();
                    } else {
                        Swal.fire({
                            title: "Error",
                            text: response.mensaje,
                            icon: 'error'
                        });
                    }
                },
                error: function(xhr, status, error) {
                    Swal.fire({
                        title: "Error",
                        text: "Hubo un error al guardar el bloque",
                        icon: 'error'
                    });
                }
            });
        }
    });

    function cargarBloques() {
        $("#contenedor-bloques").load('{% url "listadoBloques" %}', function(response, status, xhr) {
            if (status === "error") {
                console.error("Error al cargar bloques: " + xhr.status + " " + xhr.statusText);
            } else {
                console.log("Bloques cargados correctamente.");
            }
        });
    }

    $(document).ready(function() {
        cargarBloques();
    });
</script>

{% endblock %}
