<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Area</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for bloque in bloques %}
        <tr>
            <td>{{ bloque.id }}</td>
            <td>{{ bloque.codigo }}</td>
            <td>{{ bloque.nombre }}</td>
            <td>{{ bloque.area.nombre }}</td>
            <td>{{ bloque.descripcion }}</td>
            <td class="text-center">
                <a href="{% url 'editarBloque' bloque.id %}" class="btn btn-outline-warning btn-circle"
                title="Editar Bloque">
                    <i class="fas fa-pencil-alt"> Editar</i>
                </a>
                <a href="#" onclick="return confirmDelete('{{ bloque.id }}');" class="btn btn-outline-danger btn-circle">
                    <i class="fas fa-trash-alt"> Eliminar</i>
                </a>              
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function confirmDelete(bloqueId) {
        Swal.fire({
            title: "¿Seguro de eliminar?",
            text: "¡No se podrá revertir la acción!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Confirmar",
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{% url 'eliminarBloque' 'id_placeholder' %}".replace('id_placeholder', bloqueId);
            }
        });
        return false;
    }
</script>
