{% extends "plantillaC.html" %}
{% load static %}
{% block body %}
<script src="{% static 'js/Areas/listado.js' %}"></script>
<section class="section">
    <div class="row" id="basic-table">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Conteo Diario de Plantas Sembradas</h4>
                </div>
            </div>
            <h5>Filtrar por</h5>
            <div class="row">  
                <div class="col-md-6">
                    <select id="iptables-rules" name="rule" style="width: 60%;">&nbsp;
                        <option value="">Por día</option>
                        <option value="1">Día</option>
                    </select>
                    <input type="date" name="" id="">
                </div>
                <div class="col-md-6">
                    <select id="iptables-rules" name="rule" style="width: 100%;">
                        <option value="">Por Responsable</option>
                        <option value="1">Responsable</option>
                    </select>
                </div>
            </div><br>
            <div class="row">  
                <div class="col-md-6">
                    <select id="iptables-rules" name="rule" style="width: 100%;">
                        <option value="">Por variedad</option>
                        <option value="1">Variedad 1</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select id="iptables-rules" name="rule" style="width: 100%;">
                        <option value="">Por bloque</option>
                        <option value="1">Bloque</option>
                    </select>
                </div>
            </div>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-content">
                    <div class="table-responsive" style="height: 50vh;">
                        <table class="table table-bordered table-striped table-hover" id="tbl-directores">
                            <thead>
                                <tr class="text-end">
                                    <i class="fa-solid fa-file-pdf"></i>&nbsp;&nbsp;&nbsp;
                                    <i class="fa-solid fa-file-excel"></i>&nbsp;&nbsp;&nbsp;
                                    <i class="fa-solid fa-file-csv"></i>&nbsp;&nbsp;&nbsp;
                                </tr>
                                <tr>
                                    <th>Área</th>
                                    <th>Bloque</th>
                                    <th>Camas del bloque</th>
                                    <th>Responsable</th>
                                    <th>Variedad</th>
                                    <th>Fecha de Conteo</th>
                                    <th>Camas Contadas</th>
                                    <th>Plantas x cama contadas</th>
                                    <th>RESULTADO calculo</th>
                                    <th>Nacional (8%)</th>
                                    <th>Exportable (92%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for conteo in conteos_diarios %}
                                    <tr>
                                        <td>{{ conteo.area.nombre }}</td>
                                        <td>{{ conteo.bloque.nombre }}</td>
                                        <td>{{ conteo.bloque.numero_camas }}</td>
                                        <td>{{ conteo.responsable.nombre }}</td>
                                        <td>{{ conteo.variedad.nombre }}</td>
                                        <td>{{ conteo.fecha|date:"d/m/Y" }}</td>
                                        <td>{{ conteo.camas }}</td>
                                        <td>{{ conteo.plantas_por_cama }}</td>
                                        <td>{{ conteo.resultado|floatformat:2 }}</td>
                                        <td>{{ conteo.nacional|floatformat:2 }}</td>
                                        <td>{{ conteo.exportable|floatformat:2 }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="11">No se encontraron datos.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Total:</h2>
    <ul>
        <li>Total Camas Contadas: {{ total_camas_contadas }}</li>
        <li>Total Plantas por Cama: {{ total_plantas_por_cama }}</li>
        <li>Total Resultado: {{ total_resultado|floatformat:2 }}</li>
        <li>Total Nacional (8%): {{ total_nacional|floatformat:2 }}</li>
        <li>Total Exportable (92%): {{ total_exportable|floatformat:2 }}</li>
    </ul>
</section>

{% endblock %}
