{% extends "plantilla.html" %}
{% load static %}
{% block body %}
<br>
<br>
<br>
<br>
<br>

<div class="page-content">
    <section class="row">
        <div class="col-12 col-lg-12">
            <div class="row">
                <!-- Primer card ocupando media hoja con altura ajustada -->
                <div class="col-12 col-lg-6 col-md-12">
                    <div class="card" style="min-height: 300px; padding-top: 90px;">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon black">
                                        <a href="{% url 'gestionResponsables' %}"><i class="fa-regular fa-user"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Responsables</h6>
                                    <h6 class="font-extrabold mb-0">1000</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Segunda card ocupando media hoja con altura ajustada -->
                <div class="col-12 col-lg-6 col-md-12">
                    <div class="card" style="min-height: 300px; padding-top: 90px;">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon black">
                                        <a href="{% url 'gestionAreas' %}"><i class="fa-solid fa-chart-area"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Áreas</h6>
                                    <h6 class="font-extrabold mb-0">1000</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tercer card ocupando media hoja con altura ajustada -->
                <div class="col-12 col-lg-6 col-md-12">
                    <div class="card" style="min-height: 300px; padding-top: 90px;">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon black">
                                        <i class="fa-solid fa-tents"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-black">Bloques</h6>
                                    <h6 class="font-extrabold mb-0">1000</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cuarta card ocupando media hoja con altura ajustada -->
                <div class="col-12 col-lg-6 col-md-12">
                    <div class="card" style="min-height: 300px; padding-top: 90px;">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon black">
                                        <i class="fa-brands fa-pagelines"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Variedades</h6>
                                    <h6 class="font-extrabold mb-0">1000</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


{% endblock %}