{% load static %}
<script src="{% static 'js/Responsables/listado.js' %}"></script>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Cédula</th>
                <th>Área</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for responsable in responsables %}
            <tr>
                <td>{{ responsable.id }}</td>
                <td>{{ responsable.nombre }}</td>
                <td>{{ responsable.apellido }}</td>
                <td>{{ responsable.email }}</td>
                <td>{{ responsable.telefono }}</td>
                <td>{{ responsable.cedula }}</td>
                <td>{{ responsable.area.nombre }}</td>
                <td>
                    {% if responsable.estado == 'A' %}
                        Activo
                    {% else %}
                        Inactivo
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{% url 'editarResponsable' responsable.id %}" class="btn btn-outline-warning btn-circle"
                        title="Editar Responsable">
                        <i class="fas fa-pencil"></i>
                    </a>
                    <a href="#" onclick="return confirmDelete('{{ responsable.id }}');" class="btn btn-outline-danger btn-circle">
                        <i class="fas fa-trash"></i>
                    </a>              
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    const eliminarResponsableUrl = "{% url 'eliminarResponsable' 'id_placeholder' %}";
</script>