<div class="container">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Cédula</th>
                <th>Área</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for responsable in responsables %}
            <tr>
                <td>{{ responsable.id }}</td>
                <td>{{ responsable.nombre }}</td>
                <td>{{ responsable.apellido }}</td>
                <td>{{ responsable.email }}</td>
                <td>{{ responsable.telefono }}</td>
                <td>{{ responsable.cedula }}</td>
                <td>{{ responsable.area.nombre }}</td>
                <td>
                    {% if responsable.estado == 'A' %}
                        Activo
                    {% else %}
                        Inactivo
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{% url 'editarResponsable' responsable.id %}" class="btn btn-outline-warning btn-circle"
                       title="Editar Responsable">
                        <i class="fas fa-pencil">Editar</i>
                    </a>
                    <a href="#" onclick="return confirmDelete('{{ responsable.id }}');" class="btn btn-outline-danger btn-circle">
                        <i class="fas fa-trash">Eliminar</i>
                    </a>              
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script>
    function confirmDelete(responsableId) {
        Swal.fire({
            title: "¿Seguro de eliminar?",
            text: "¡No se podrá revertir la acción!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Confirmar",
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{% url 'eliminarResponsable' 'id_placeholder' %}".replace('id_placeholder', responsableId);
            }
        });
        return false;
    }
</script>
